:root{
  /* --vh: 6.4px; */
  --primary : #121212;
  /* --primary-dark: #0c0c1040; */
  --secondary: #ffffff;
  --accent-a: hsl(0, 0%, 21%);
  --accent-b: #e8f4fb;
  --accent-c: #3464c1;
  --lh-a: 1.6;
  --main-font: 'Poppins';
  --sub-font: 'Champion Gothic Welter';
  --logo-font: 'Taken by Vulture';
}
::-webkit-scrollbar {
  display: none; /* chrome */
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  box-sizing: border-box;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
